* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.game {
  max-width: calc(100% - 2em);
  margin: 0 auto;
}

.game-title {
  display: block;
  margin: 0.5em;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.round,
.score {
  padding: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}

#round-title,
#score-title {
  margin: 0 auto;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.move-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.move-buttons button {
  transition: background-color 0.2s ease-in;
}

#computer-move {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  margin-bottom: 0.5em;
}

#round-result {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.scores-wrapper {
  display: flex;
  flex-direction: column;
}

.copyright {
  display: flex;
  flex-direction: column;
  font-size: 0.8em;
  align-items: center;
}

/* Utility classes */

.visibility-hidden {
  visibility: hidden;
}

/* Mobile M */
@media screen and (min-width: 375px) {
  .move-buttons {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Mobile L */
@media screen and (min-width: 425px) {
  .game {
    max-width: 389px;
  }
  .move-buttons {
    gap: 0.5em;
  }

  .move-buttons button {
    width: 100%;
  }

  .scores-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  .game {
    max-width: 480px;
  }
}

/* Laptop */
@media screen and (min-width: 1024px) {
  .game {
    max-width: 556px;
  }
}

/* Laptop L */
@media screen and (min-width: 1440px) {
  .game {
    max-width: 612px;
  }
}
